<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat">
<style>
  .button{
    background-color: #4CAF50;
    border:none;
    color:white;
    padding:12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
  }
  
</style>
<title> Minimizing Patrol Placements in Boston Neighborhoods </title>
</head>
<header style="font-family: 'Montserrat', serif;text-align:right;padding-top: 10px;padding-right: 30px;"> Boston University CS591 </header>
<body style="font-family: 'Montserrat', serif;">

<div class="wrapper" style="text-align: center;">
<h1 style="padding-top:70px;">  Minimizing Patrol Placements in Boston Neighborhoods </h1>

  <form method="POST" action="/optimize"">
      <br><br><br>
      Find optimal patrol placements in which each street has a nearby officer at most
      <span id="slider_value" style="color:green; font-weight: bold;">500</span>  feet away.<br><br>
      
      <div class="slidecontainer">
       0 <input type="range" style="width:600px;" name="distance" id="distance" min="1" max="1000" class="slider" oninput="show_value(this.value);" required> 1000
      </div>
      <br><br>

      District:&nbsp;&nbsp; <select id="district" name="district" style="width:200px;height:30px;-webkit-appearance:none;-moz-appearance:none; appearance:none; padding-left: 15px; background-image:url('https://cdn1.iconfinder.com/data/icons/universal-icons-set-for-web-and-mobile/100/controls_0-12-256.png');background-repeat:no-repeat;background-position: 165px center; background-color:white; background-size:25px 25px; font-family: 'Montserrat'; font-size:14px;"> 
        <option value="Brighton">Brighton</option>
        <option value="Charlestown">Charlestown</option>
        <option value="Dorcester">Dorchester</option>
        <option value="Downtown">Downtown</option>
        <option value="East Boston">East Boston</option>
        <option value="Hyde Park">Hyde Park</option>
        <option value="Jamaica Plain">Jamaica Plain</option>
        <option value="Mattapan">Mattapan</option>
        <option value="Roxbury">Roxbury</option>
        <option value="South Boston">South Boston</option>
        <option value="South End">South End</option>
        <option value="West Roxbury">West Roxbury</option>
       </select>


      <br><br><br><br>
      <input type="submit" value="Submit" class="button">
      <br><br><br><br><br>
      <p style="font-size: 11px;">By Yash Bavishi, Janell Chen, and Rebecca Stiffelman </p>
  </form>
</div>

<div style="padding-top: 20px;padding-left: 300px;padding-right: 300px;padding-bottom: 50px;">
  <h2>How it Works</h2>
  <p>Based on your input,our algorithm will determine exactly which streets will have a patrol such that every street in the selected district with a patrol within the desired number of feet is covered. Our method uses Z3 Solver to find the optimal placements. Using Z3 Constraint Satisfaction, we determined a model for each Boston district, which tells us the optimal (minimal) number of night patrols needed such that every street where a crime occurred will be covered. The city of Boston can keep streets safer by intelligently placing patrols optimally so that streets where crimes occur are under a nearby patrol watch. </p>
  

<div class="row" style="display:flex;">
    <div class="column" style="flex: 50%">
      <h2>Datasets</h2>
      <p>Source: Analyze Boston </p>
      <ul style="list-style-type:disc">
        <li>Boston Neighborhoods</li>
        <li>Boston Street Segments</li>
        <li>Crime Incident Reports</li>
      </ul>
      <a href="https://data.boston.gov/">Visit Analyze Boston.</a>
    </div>
  <div class="column" style="flex: 50%">
    <h2>Motivation </h2>
    <p>What makes some Boston neighborhoods safer than other? What can the city of Boston do to help reduce crime rates? Since there are many factors influencing crime, we chose to focus on those which can be most easily controlled, such as infrastructure and placement of safety resources. We hope to help by analyzing Boston crime data to determine potential optimal locations for night patrols. 
    </p>
  </div>
  </div>
  <h2>Future Work</h2>
  <p>In order to improve coverage of crimes, we could explore more factors that affect crime incidence such as economic conditions and proximity to public transport. Understanding the relationship between these factors and crime rates could help us determine more intelligent locations to place patrols or other safety resources. 
  </p>

</div>



</body>
<script>
function show_value(x)
  {
   document.getElementById("slider_value").innerHTML=x;
  }
</script>
</html>