<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_37c8a9adc4b64308b921f1b85ac7d55f {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_37c8a9adc4b64308b921f1b85ac7d55f" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_37c8a9adc4b64308b921f1b85ac7d55f = L.map(
                                  'map_37c8a9adc4b64308b921f1b85ac7d55f',
                                  {center: [42.3123,-71.1],
                                  zoom: 11,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_1f2aa5f61a4049458f59673be9e63f06 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
        
    
            var circle_marker_f78e5d53f1534a1aa3a27aae73b66852 = L.circleMarker(
                [42.27400000000001,-71.189],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_695b04148cde477fabf35ec0455712b4 = L.circleMarker(
                [42.29400000000001,-71.189],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_2693e2d1f87c4e18b788817362345dca = L.circleMarker(
                [42.254000000000005,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_5ca42c9212d04640802a80d495214deb = L.circleMarker(
                [42.27400000000001,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_e1ef0176fc514883b52f96680bb2d478 = L.circleMarker(
                [42.29400000000001,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_6e2c6d4eb1904008883ebbd219fa4b82 = L.circleMarker(
                [42.314000000000014,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_0045a9d2752048768d5d211d93975a23 = L.circleMarker(
                [42.33400000000002,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_21a9765acd6c46eab40ce3d5b3203a91 = L.circleMarker(
                [42.35400000000002,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_46e163049d91423d86546065da741d69 = L.circleMarker(
                [42.234,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_9617a6c45a8b491ab3adc8703332fff3 = L.circleMarker(
                [42.254000000000005,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_864d53dfe4724549b94a5d34ffe2b510 = L.circleMarker(
                [42.27400000000001,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_3a4b6cfbf7cd4dea92827bb41e603ee6 = L.circleMarker(
                [42.29400000000001,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_0662300188594b0c8027d459c3c69e3f = L.circleMarker(
                [42.33400000000002,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_3cac8b400fb3474faf3447496a68f89c = L.circleMarker(
                [42.35400000000002,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_f73079d6aa8941f1b66581eb7bab735b = L.circleMarker(
                [42.234,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_be334a49a5bb4213beb3f2389cb94442 = L.circleMarker(
                [42.254000000000005,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_529a1ce57d514ede8e4841a565b61cd3 = L.circleMarker(
                [42.27400000000001,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_1bcf87d34c644d1bbb6b84482292cabc = L.circleMarker(
                [42.29400000000001,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_08b779d304624dd4bc500fedcfae61c9 = L.circleMarker(
                [42.314000000000014,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_043004b624274e8a9e2946918d8820ef = L.circleMarker(
                [42.33400000000002,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_0a5a5cd4e0604e1b9aaba9523690820b = L.circleMarker(
                [42.35400000000002,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_85e81be29bb8447c88c3dab6fc7528d9 = L.circleMarker(
                [42.254000000000005,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_0a5e7199dc2742dc885c7b38769a8732 = L.circleMarker(
                [42.27400000000001,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_12acb09fb31940dca27deeebb2c1c8e8 = L.circleMarker(
                [42.29400000000001,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_84e41a89ded643dd8daefcc912353f49 = L.circleMarker(
                [42.314000000000014,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_4026342d85a84b588efb7afc2e313b4a = L.circleMarker(
                [42.33400000000002,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_07b62acd670e4faca56a62a0b0f9ae45 = L.circleMarker(
                [42.254000000000005,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_0e6af543fc1b4f919b0aa67cf65f1f11 = L.circleMarker(
                [42.27400000000001,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_a66fd212f8f246dd89850a584ca2a053 = L.circleMarker(
                [42.29400000000001,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_bd80ca646e80402e9f0972298b8bfd73 = L.circleMarker(
                [42.314000000000014,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_f8709fce0e2c4b10a3cae37d00a30723 = L.circleMarker(
                [42.33400000000002,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_aadd21879e224bfeb992f92f4c31ecd9 = L.circleMarker(
                [42.35400000000002,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_48b49a163aeb41088bb4a10cc088a209 = L.circleMarker(
                [42.374000000000024,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_4eff7026c4024572b3d0ea82d9ced2a2 = L.circleMarker(
                [42.254000000000005,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_c52628baba184ab0b5b3882dc5affed5 = L.circleMarker(
                [42.27400000000001,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_1aabdc1e40d14bca9478659273988d5c = L.circleMarker(
                [42.29400000000001,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_680d86d80d0046108c76cd9562f3d3bb = L.circleMarker(
                [42.314000000000014,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_ab9e0552ea634810bb14ba6fb26e132d = L.circleMarker(
                [42.33400000000002,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_b00334205c314f2e8309896ac8040ce9 = L.circleMarker(
                [42.35400000000002,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_94f2a596401447a6840bd604909aa6ba = L.circleMarker(
                [42.374000000000024,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_67f6a3f606464297a4aedefa4889bdf2 = L.circleMarker(
                [42.27400000000001,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_57310333784145a0a8127aee14a3933a = L.circleMarker(
                [42.29400000000001,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_5459babcf22e418cb6b2f02b0817b4be = L.circleMarker(
                [42.314000000000014,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_d8f319cb4cda4c53828f33ae909a5ac6 = L.circleMarker(
                [42.33400000000002,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_d39ba9cecde54d4e9e597d17ece72808 = L.circleMarker(
                [42.35400000000002,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_db7451d50c134b3ea5abeec8521f9918 = L.circleMarker(
                [42.374000000000024,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_d5351bc7b1b34ec09c817e770a684bc6 = L.circleMarker(
                [42.314000000000014,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_8df790d0ead8494190151aaf92a42f0d = L.circleMarker(
                [42.33400000000002,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_7fb6bf007ea24559a8326beba79356d8 = L.circleMarker(
                [42.35400000000002,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_d11b091616eb4ccebef75c3ef987d920 = L.circleMarker(
                [42.374000000000024,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_68123b0a4a9f47ccb92bdd1c6997df37 = L.circleMarker(
                [42.374000000000024,-71.00900000000003],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
    
            var circle_marker_aef2c59ac7a24149b0f2be6cfad2be6b = L.circleMarker(
                [42.314000000000014,-70.96900000000004],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_37c8a9adc4b64308b921f1b85ac7d55f);
            
</script>