<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_828174396ad24f99948252e37c3538e9 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_828174396ad24f99948252e37c3538e9" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_828174396ad24f99948252e37c3538e9 = L.map(
                                  'map_828174396ad24f99948252e37c3538e9',
                                  {center: [42.3123,-71.1],
                                  zoom: 11,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_f03fd7dd1ba0462494fe51957d74ce0d = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
        
    
            var circle_marker_1f6b0ef186454221bc384783d6f8f557 = L.circleMarker(
                [42.27400000000001,-71.189],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_41a9d02a9611442fa15944ff65072162 = L.circleMarker(
                [42.29400000000001,-71.189],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_da8025e18bc5496fa76bb15752eeaf3c = L.circleMarker(
                [42.254000000000005,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_d3cdb7f186634d6685c9036cdf1efbe0 = L.circleMarker(
                [42.27400000000001,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_620e3b2fed2846d5b4bcf8cec040573e = L.circleMarker(
                [42.29400000000001,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_fc71ef2a75304652881680aa5ed6f153 = L.circleMarker(
                [42.314000000000014,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_4487eac07451447ba280738a6397318c = L.circleMarker(
                [42.33400000000002,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_830fa04a82ed424696913b8c2e40dd2c = L.circleMarker(
                [42.35400000000002,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_6d69e100b848471dbb7c7ea091b61a5f = L.circleMarker(
                [42.234,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_500bd40a876649f5979a2565d58f7d4e = L.circleMarker(
                [42.254000000000005,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_78ed0e477d544227a10378b1f5eee5a9 = L.circleMarker(
                [42.27400000000001,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_c11e5892cc6c4019a6b5c07c91b36340 = L.circleMarker(
                [42.29400000000001,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_acf6eb32b37d4bba93e6dedba0e9555a = L.circleMarker(
                [42.33400000000002,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_aa4a5c9e0d7e4cb88550fb698cba29ae = L.circleMarker(
                [42.35400000000002,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_c631cd14d4954b5d88ca6e3a33801968 = L.circleMarker(
                [42.234,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_4de9dd5edb3746d1bff0aec9416170b3 = L.circleMarker(
                [42.254000000000005,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_2c67095747ee4b2a936e47a9cb430c8b = L.circleMarker(
                [42.27400000000001,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_9b353e0b4965472d8b9d78758b9b4aa2 = L.circleMarker(
                [42.29400000000001,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_e61dcd5de37f4382835b43c66b62d410 = L.circleMarker(
                [42.314000000000014,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_4c986c412a48436d93566dffe5c3ecab = L.circleMarker(
                [42.33400000000002,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_f4de2f700a614143b7c44ca91370d9e7 = L.circleMarker(
                [42.35400000000002,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_28c685692feb49b2b97fc604d6e93dfd = L.circleMarker(
                [42.254000000000005,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_f5eeb86a8a674522b52e0229ed25a377 = L.circleMarker(
                [42.27400000000001,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_7e6a70fb1432429ea0352e5060a7a66c = L.circleMarker(
                [42.29400000000001,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_2ee8614390104896afeb2f6d62019ad1 = L.circleMarker(
                [42.314000000000014,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_c80729f0bd104e25b1db7eb7a02a7e04 = L.circleMarker(
                [42.33400000000002,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_1fb4ca2e19604c4c973a6a32e027190c = L.circleMarker(
                [42.254000000000005,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_123cb4893e8f4e598dd7769e49cc8300 = L.circleMarker(
                [42.27400000000001,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_7c7a28468a4e4b90b400f1db4fff588e = L.circleMarker(
                [42.29400000000001,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_64203e193114443da747cc2b3017702b = L.circleMarker(
                [42.314000000000014,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_e2b671f3cdd3415c9f350c1d3f503542 = L.circleMarker(
                [42.33400000000002,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_9c3a0c7d83af42b3a9f960469d3cc489 = L.circleMarker(
                [42.35400000000002,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_702e76811f14471e8ffb66f673494c3e = L.circleMarker(
                [42.374000000000024,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_4577d07ec81043a1af004986e0936f38 = L.circleMarker(
                [42.254000000000005,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_b2edd83bb0f841989401b5e55a7e122b = L.circleMarker(
                [42.27400000000001,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_a07a6bb75d424f87b25b5e79231c6bf9 = L.circleMarker(
                [42.29400000000001,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_911d71e6eafa400fac878a307e2de2d7 = L.circleMarker(
                [42.314000000000014,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_1b12e91337ce43f2a009cc6db751fe42 = L.circleMarker(
                [42.33400000000002,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_5c8d4af8d57b4080a1f8c815943da775 = L.circleMarker(
                [42.35400000000002,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_0d1b9608302d4f4e9bdd556e874d8a1f = L.circleMarker(
                [42.374000000000024,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_ca48acf6ed4647f8b2f6e71b11503717 = L.circleMarker(
                [42.27400000000001,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_99c07ac6cee14625a89f37029310e063 = L.circleMarker(
                [42.29400000000001,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_c7a73e0ba57f4aff8d4c6cabede1cf63 = L.circleMarker(
                [42.314000000000014,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_8a9a45eb134e415ba7c7dddb04ca22d8 = L.circleMarker(
                [42.33400000000002,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_537c4c8738e245378431bbe5ae16c653 = L.circleMarker(
                [42.35400000000002,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_b6a0ce29d5fd4078819fd8352efc54ef = L.circleMarker(
                [42.374000000000024,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_1468af22837f4732855585fd3f810f53 = L.circleMarker(
                [42.314000000000014,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_c5e326e4f26e4e0ca062c4f0683f94d0 = L.circleMarker(
                [42.33400000000002,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_83fccd0ae5c54880895b957ba3844de8 = L.circleMarker(
                [42.35400000000002,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_8561001dd29244eaa95ead84f0281ffb = L.circleMarker(
                [42.374000000000024,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_f9ce43c043774f298504abe931ed48e3 = L.circleMarker(
                [42.374000000000024,-71.00900000000003],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
    
            var circle_marker_1f66abd719f14bab8e630b23ea595cc5 = L.circleMarker(
                [42.314000000000014,-70.96900000000004],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_828174396ad24f99948252e37c3538e9);
            
</script>