<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_1c9b109c58ad44fcbd199cba0a90a9a6 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1c9b109c58ad44fcbd199cba0a90a9a6" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_1c9b109c58ad44fcbd199cba0a90a9a6 = L.map(
                                  'map_1c9b109c58ad44fcbd199cba0a90a9a6',
                                  {center: [42.3123,-71.1],
                                  zoom: 11,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_0987295f2ef449ed8be4001064d39949 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
        
    
            var circle_marker_3ac4d8026e0e452f9b52168487971c63 = L.circleMarker(
                [42.27400000000001,-71.189],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_f36a4f8e6a074ffdbabd3033ffb554f0 = L.circleMarker(
                [42.29400000000001,-71.189],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_3441c93f96054732a9af06a6f8b63e57 = L.circleMarker(
                [42.254000000000005,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_1696a460f1d6400baf3526b2e79da5aa = L.circleMarker(
                [42.27400000000001,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_9b57a3f30e704cd9a41b056b8723246e = L.circleMarker(
                [42.29400000000001,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_826e03cc0bb4405589f578f0720e68b2 = L.circleMarker(
                [42.314000000000014,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_2e95cabd4cd6478bbd2cfb22b625600a = L.circleMarker(
                [42.33400000000002,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_7d8ab464884a43fab6aa2a6e2870c936 = L.circleMarker(
                [42.35400000000002,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_bb19aee8187a46d5a42fb81ecf0f3be7 = L.circleMarker(
                [42.234,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_62555fd6e68346dab0d0af3f82145614 = L.circleMarker(
                [42.254000000000005,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_63a8c21aaec94d39b0b12fe7966d9293 = L.circleMarker(
                [42.27400000000001,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_ad29cca8855740c999181d67e1150642 = L.circleMarker(
                [42.29400000000001,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_6985aada5bf8495e88d4957eb333544e = L.circleMarker(
                [42.33400000000002,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_d569ea24d3d049a7bab36912a644e8a8 = L.circleMarker(
                [42.35400000000002,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_4a1e49eee3b14197bf6be3e3e2bf3ec8 = L.circleMarker(
                [42.234,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_5de8349d40e4440881b90de72a43d65d = L.circleMarker(
                [42.254000000000005,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_3388ee00d6584943a965a95e02de68ad = L.circleMarker(
                [42.27400000000001,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_f21e960549d047eda82a69033eb82224 = L.circleMarker(
                [42.29400000000001,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_c31749eb26fa466ba66b60eb9cb4d9f7 = L.circleMarker(
                [42.314000000000014,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_fb1e4b895dcc433786ce5a821fdf2b68 = L.circleMarker(
                [42.33400000000002,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_31c116f63c5e4f9e8cd745120d73ca67 = L.circleMarker(
                [42.35400000000002,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_c5afaad4977f43a89de26c601c40f2f8 = L.circleMarker(
                [42.254000000000005,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_e2b81b6cb215430f8717e18c00e4b397 = L.circleMarker(
                [42.27400000000001,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_8efa905e28b646039ae0508fed74bab5 = L.circleMarker(
                [42.29400000000001,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_134e37e5abe04b9fb62af0ca13db592d = L.circleMarker(
                [42.314000000000014,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_1948107baa764a1ba91b8cbcdce1d7c3 = L.circleMarker(
                [42.33400000000002,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_d23491b81d08441d9d6dc47cbd240f1c = L.circleMarker(
                [42.254000000000005,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_85f82499b09348c38339ec5e996e0d6b = L.circleMarker(
                [42.27400000000001,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_b013380581c749fd849538459bdb27f6 = L.circleMarker(
                [42.29400000000001,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_da7c7fb923944d198e2911d88c816c37 = L.circleMarker(
                [42.314000000000014,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_ef3ffbc4e5b247e58b15f55667d96ae3 = L.circleMarker(
                [42.33400000000002,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_3ae6a4fe1f3142d9a017e600cd7470b8 = L.circleMarker(
                [42.35400000000002,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_b94efabc0dd841bb8aa576e55f8b68c1 = L.circleMarker(
                [42.374000000000024,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_d5896ec67ca041b6aab204d08f4caecb = L.circleMarker(
                [42.254000000000005,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_3519ac8748274468b789e9b0d61b9ec8 = L.circleMarker(
                [42.27400000000001,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_fc411a9fe3414485bf81d9a4d41c0351 = L.circleMarker(
                [42.29400000000001,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_826c4bb8f595418f8ff51b3b34a54442 = L.circleMarker(
                [42.314000000000014,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_073ee53809564bd183692bd7fbd9feff = L.circleMarker(
                [42.33400000000002,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_200df36f5b454430b291b4043ea7503c = L.circleMarker(
                [42.35400000000002,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_9ec2ac5cccaa4be194458dac942ed7ed = L.circleMarker(
                [42.374000000000024,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_b7a3e7430e134f68b0f634f20a7b9dac = L.circleMarker(
                [42.27400000000001,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_ed66bb97341644f9838ab2847691935d = L.circleMarker(
                [42.29400000000001,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_4b0f0e5f93574d4bafc090970bf2c853 = L.circleMarker(
                [42.314000000000014,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_7577582e6c7d43cb94d76e26c0a0b195 = L.circleMarker(
                [42.33400000000002,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_9ad964dc1eef467c8c2cee19b1b68810 = L.circleMarker(
                [42.35400000000002,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_e4e0733908664968a183e42b5ad00604 = L.circleMarker(
                [42.374000000000024,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_64d7e1e05b124cf4aa2336f85922b19c = L.circleMarker(
                [42.314000000000014,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_1641faa0f97c442ca44a6aa635155c6c = L.circleMarker(
                [42.33400000000002,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_186b75ca9b1f42208f99b277b152c905 = L.circleMarker(
                [42.35400000000002,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_58b52ec4ceda47cda22538a0b60c6e3a = L.circleMarker(
                [42.374000000000024,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_b77c98ae5a1b4a2d860b5ad59e7ab710 = L.circleMarker(
                [42.374000000000024,-71.00900000000003],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
    
            var circle_marker_058860367d564733860cab158f9d30be = L.circleMarker(
                [42.314000000000014,-70.96900000000004],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_1c9b109c58ad44fcbd199cba0a90a9a6);
            
</script>