<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_2c39c766c2b1447d855ed076969137d7 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_2c39c766c2b1447d855ed076969137d7" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_2c39c766c2b1447d855ed076969137d7 = L.map(
                                  'map_2c39c766c2b1447d855ed076969137d7',
                                  {center: [42.3123,-71.1],
                                  zoom: 11,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_39f88e1785544686aafd581c507d2062 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
        
    
            var circle_marker_0ef839195fd44117a0001a88b58701fc = L.circleMarker(
                [42.27400000000001,-71.189],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_88f2f24c2d8c4372bed17a7ffd25be91 = L.circleMarker(
                [42.29400000000001,-71.189],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_1d9421e49e574cb7be95c995d9d0518f = L.circleMarker(
                [42.254000000000005,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_e7fe839afa4a4dfd9ae2af04e49ad708 = L.circleMarker(
                [42.27400000000001,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_b79437cd4e6a4dc3967eb357b93f8fb7 = L.circleMarker(
                [42.29400000000001,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_b9e58b506d3b4f87bd747d7d93a13080 = L.circleMarker(
                [42.314000000000014,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_0fc7482e9bb8471ba4427ebb53c290f9 = L.circleMarker(
                [42.33400000000002,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_4d5a5a05f59947eaa7da2dfdf7424ff9 = L.circleMarker(
                [42.35400000000002,-71.169],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_0fd0ad2144704ba092c41b06be03ea8c = L.circleMarker(
                [42.234,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_316e2e8b92904af4bc3031f1e1a709af = L.circleMarker(
                [42.254000000000005,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_70c05f10d27c4331876a1c74866f83dd = L.circleMarker(
                [42.27400000000001,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_0413a59dbea945d8b6add289b2f35224 = L.circleMarker(
                [42.29400000000001,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_24531e7b5dfd4fd9843630cc1216ed0b = L.circleMarker(
                [42.33400000000002,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_d2367842865448c097159c511d164bf2 = L.circleMarker(
                [42.35400000000002,-71.149],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_24c261ac5e1b46d1b58062691baa3b97 = L.circleMarker(
                [42.234,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_91f1c90a5d8545248d206fac120d164b = L.circleMarker(
                [42.254000000000005,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_a28bd8c0e3234f9ab91fc3c07ce95658 = L.circleMarker(
                [42.27400000000001,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_395027a1484642dc8cc42dffc500752f = L.circleMarker(
                [42.29400000000001,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_90999b24a9e34cef9d33883964871de7 = L.circleMarker(
                [42.314000000000014,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_ff8d21a0fe7e4b23baf640b4aad7ba7b = L.circleMarker(
                [42.33400000000002,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_aa48bf0e12d24389bd4cf98ddc918c96 = L.circleMarker(
                [42.35400000000002,-71.129],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkred",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_a767afc64e7148dfad8af6194b6eea51 = L.circleMarker(
                [42.254000000000005,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_2f66f8d61de9420a8b20061cfdac23f5 = L.circleMarker(
                [42.27400000000001,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_150c96ecb9ba44a29080a9f2afe0e3b7 = L.circleMarker(
                [42.29400000000001,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_549e74a30bc54e51abdacc7c3d75bd97 = L.circleMarker(
                [42.314000000000014,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_6b3e7830ed3b49aa9270fa14965a8eed = L.circleMarker(
                [42.33400000000002,-71.10900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_88acfc4f89db423289b3b9157fd1196b = L.circleMarker(
                [42.254000000000005,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_63064a9efaf0462b8a4c52be3710669e = L.circleMarker(
                [42.27400000000001,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_a62c4d633e4744f1840b3c088cb6c5f4 = L.circleMarker(
                [42.29400000000001,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_b5140284eecc49f887b73536bcdf7c0f = L.circleMarker(
                [42.314000000000014,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_dcbb7f3d4e554721816ced71791173dc = L.circleMarker(
                [42.33400000000002,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_eb0c60d3cdd44746a57b9c77b18678e3 = L.circleMarker(
                [42.35400000000002,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_15271383170048ceb659de50518f68e4 = L.circleMarker(
                [42.374000000000024,-71.08900000000001],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_5e11c433f85a486aba2b54b1d0d9d904 = L.circleMarker(
                [42.254000000000005,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_f91c4eff54ec43769918654aa041136c = L.circleMarker(
                [42.27400000000001,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_a98acff1162849d1a05ad9017d81d5d1 = L.circleMarker(
                [42.29400000000001,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_28cff332a3694d92b1c34bc57b198b74 = L.circleMarker(
                [42.314000000000014,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_d2d5c7cf50af4d018c6a46041e2929ab = L.circleMarker(
                [42.33400000000002,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_646eb8dbd3dd466c9019ed0651c6b1c0 = L.circleMarker(
                [42.35400000000002,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "blue",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_174437a8e74544d0b2695d8c16daec94 = L.circleMarker(
                [42.374000000000024,-71.06900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "purple",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_732319e610134af9b09599f60defc837 = L.circleMarker(
                [42.27400000000001,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_264aa854a0fc4dd899af65f4a07ddb12 = L.circleMarker(
                [42.29400000000001,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_80eaec4f6beb4a728d409cd241b23ca7 = L.circleMarker(
                [42.314000000000014,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_2d7632f9df674c81a5085e71df58bb85 = L.circleMarker(
                [42.33400000000002,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_d10c8ca4a24e41dca47c2040c0a8e2ac = L.circleMarker(
                [42.35400000000002,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_e1ebdc1a6e524c5389bd0654b4fc365c = L.circleMarker(
                [42.374000000000024,-71.04900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_1adae22e35f64ea4ab45400d9296b62d = L.circleMarker(
                [42.314000000000014,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_a847743193c0452fa8349b0ea1f59371 = L.circleMarker(
                [42.33400000000002,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_d17b00c5673b47868cf82d447fb84ef4 = L.circleMarker(
                [42.35400000000002,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_07103ef847494aea9a6d65b332462a5d = L.circleMarker(
                [42.374000000000024,-71.02900000000002],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_f326eb302af044989c93500710356f1c = L.circleMarker(
                [42.374000000000024,-71.00900000000003],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
    
            var circle_marker_3c382c1095e34c578a7456f00b7753be = L.circleMarker(
                [42.314000000000014,-70.96900000000004],
                {
  "bubblingMouseEvents": true,
  "color": "grey",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_2c39c766c2b1447d855ed076969137d7);
            
</script>