<!DOCTYPE html>

<style>
iframe {
	margin-top:15px;
    margin-left: 40px;
} 
form {
	margin-top:20px;
	margin-left: 65px;
	display: inline-block;
}
.vis {
	font-size:150px;
}
</style>

<head>
  <title>Visualizations</title>
</head>

<body>
	<form action="/">
		<input class="vis" type="submit" value="Show route map">
	</form>

	<form action="/show_graph">
		<input class="vis" type="submit" value="Show distance vs. cost graph">
	</form>

	<form action="/show_opt_graph">
		<input class="vis" type="submit" value="Show optimized routes graph">
	</form>
	
	<div>
		{% if map %}
			
			<iframe src="/map" height="550" width="1000" align="right"></iframe>
		{% endif %}
	</div>

	<div>
		{% if graph %}
			
			<iframe src="/graph" height="550" width="1000" align="right"></iframe>
		{% endif %}
	</div>
	<div>
		{% if opt_graph %}
			
			<iframe src="/opt_graph" height="550" width="1000" align="right"></iframe>
		{% endif %}
	</div>

</body>


