<!DOCTYPE html>
<html lang="en-us">
	<header>
		<meta charset="utf-8">
		<title>Home Page</title>
	</header>

	<body>
		<h1>Hello</h1>
		<p>Welcome to this page</p>

		<ul>
			<li><a href='/schoolAllHubway'>find the school and see all the hubway around it</a></li>
			<li><a href='/schoolHubwayStation'>Find the closest hubway station for a certain school</a></li>
			<li><a href='/checkAllSchools'>Get the list for all the schools</a></li>
			<li><a href='/checkAllHubway'>Get the list for all the Hubway stations</a></li>
			<li><a href='/schoolNewBikeHub'>Try Our New result</a></li>
		</ul>

	</body>
</html