<html>
	<head lang="en-us">
		<meta charset="utf-8">
		<title>School New Bike hub</title>
	</head>

	<body>
		<h1>Please enter the school name that you want to find</h1>
		<h1>
			{% if message %}
				{{message}}
			{% endif %}
		</h1>
		<p><a href='/checkAllSchools'>What to check all the schools before searching?</a></p>
		<form method="POST" action="{{url_for('schoolNewBikeHub') }}">
			<label for="string">Enter the school you want to find</label>
			<input type="string" name="schoolNameInput" /><br/>
			<input type="submit" />
		</form>

		<h1>Here are the result for the searching</h1>
		<p>school name</p>
		<p>{{schoolName}}</p>
		<p>School coordinate: {{school_x}} , {{school_y}}</p>
		<p>Bike Hub Place</p>
		<p>{{subwayStationName}}</p>
		<p>Subway coordinate: {{subway_x}} , {{subway_y}}</p>
		<a href='/'>Home</a>
	</body>
</html>