<html>
	<head lang="en-us">
		<meta charset="utf-8">
		<title>Show two results</title>

		<link rel="stylesheet" href="/static/leaflet.css" />
		<script type=text/javascript src="{{ url_for('static', filename='leaflet.js') }}"></script>
<style>
<!--
#map{
width: 1200px; 
height: 600px;
margin: 35px 0px 10px 0px;
}
-->
</style>

	</head>

	<body>
		<h1>Please enter the school name that you want to find</h1>
		<h1>
			{% if message %}
				{{message}}
			{% endif %}
		</h1>
		<p><a href='/checkAllSchools'>What to check all the schools before searching?</a></p>
		<form method="POST" action="{{url_for('showTwoResult') }}">
			<label for="string">Enter the school you want to find</label>
			<input type="string" name="schoolNameInput" /><br/>
			<input type="submit" />
		</form>

		<h1>Here are the result for the searching</h1>
		<p>school name</p>
		<p>{{schoolName}}</p>
		<p>School coordinate: {{school_x}} , {{school_y}}</p>
		<p>hubway station name</p>
		<p>{{hubwayStationName}}</p>
		<p>Hubway coordinate: {{hubway_x}} , {{hubway_y}}</p>
		<p>~~~~~~~~~~~</p>
		<p>Bike Hub Place</p>
		<p>{{subwayStationName}}</p>
		<p>Subway coordinate: {{subway_x}} , {{subway_y}}</p>
		<a href='/'>Home</a>

		<div id='map'></div>

<script>

	// initialize the map
	var map = L.map('map').setView([42.35, -71.08], 12);

	// load a tile layer
	L.tileLayer('http://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
    {
      attribution: 'Tiles by <a href="http://mapc.org">MAPC</a></a>',
      maxZoom: 25,
      minZoom: 9
    }).addTo(map);

    var sn = '{{schoolName}}';

	var schoolx = parseFloat('{{school_x}}');
	var schooly = parseFloat('{{school_y}}');
	var subwayName = '{{subwayStationName}}';
	var subwayx = parseFloat('{{subway_x}}');
	var subwayy = parseFloat('{{subway_y}}');
	var hubwayName = '{{hubwayStationName}}';
	var hubwayx = parseFloat('{{hubway_x}}');
	var hubwayy = parseFloat('{{hubway_y}}');
	
	var planes = [[sn,schooly, schoolx],[subwayName,subwayy,subwayx],[hubwayName,hubwayy,hubwayx]];

	for (var i = 0; i < planes.length; i++) {
		marker = new L.marker([planes[i][1],planes[i][2]])
			.bindPopup(planes[i][0])
			.addTo(map);
	}

	 var polyline = L.polyline([
            [schooly, schoolx],
            [subwayy, subwayx]
            ],
            {
                color: 'red',
                weight: 5,
                opacity: .5,
                dashArray: '20,15',
                lineJoin: 'round'
            }
            ).addTo(map);

	 var polyline = L.polyline([
            [schooly, schoolx],
            [hubwayy, hubwayx]
            ],
            {
                color: 'blue',
                weight: 5,
                opacity: .5,
                dashArray: '20,15',
                lineJoin: 'round'
            }
            ).addTo(map);

</script>
	</body>
</html>